a:hover {
    text-decoration: none;
    cursor: pointer;
}
a{
    text-decoration: none;
    color:unset;
}
.navbar-brand:hover{
    color: white;
}
.header_user:hover .box_list_user{
    display: block;
}
.link_add_product :hover{
    color: white;
}