* {
    box-sizing: border-box !important;
    font-family: Arial, Helvetica, sans-serif;
}

i {
    font-family: unset;
}

html,
body {
    width: 100%;
    height: 100%;
}

.row>* {
    padding-right: unset;
    padding-left: unset;
}

.row {
    margin-right: unset;
    margin-left: unset;
}

*,
::after,
::before {
    box-sizing: unset;
}

input:focus {
    outline: none;

}

/* LOGIN */
.background_img_login {
    width: 100%;
    height: 100%;
}

.main {
    position: relative;
    width: 100%;
    height: 100%;
}

.form_content_login {
    position: absolute;
    top: 160px;
    right: 100px;
    width: 400px;
    background-color: aliceblue;
}

.form_content_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 99px;
    border-bottom: 2px solid blue;
}

.title_login {
    text-align: center;
    font-size: 25px;
    color: blue;
}

.box_input_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 160px;
}

.input_login {
    width: 200px;
    height: 25px;
    margin-bottom: 5px;
    margin-top: 10px;
    text-indent: 20px;
}

.error_login {
    height: 15px;
    width: 100%;
}

.error_login_status {
    color: red;
    text-align: center;
    line-height: 15px;
    font-size: 14px;
}

.box_btn_login {
    width: 100%;
    height: 136px;
}

.box_btn_login_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn_login {
    display: block;
    width: 200px;
    height: 36px;
    margin: 5px 20px 30px 20px;
    background-color: lightblue;
    border: 1px solid blue;
    color: blue;
    text-align: center;
    text-decoration: none;
    line-height: 36px;
    font-size: 18px;
}

.btn_login_register {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: red;
    font-size: 16px;
}

.box_btn_register_title {
    color: blue;
    font-size: 15px;
}


/* =======================================*/
/* REGISTER */
.box_btn_register_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 5px 0;
}

.box_input_register_item {
    margin: 0 10px 0 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box_input_register {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;
    width: 100%;
}

.form_content_register {
    position: absolute;
    top: 140px;
    right: 100px;
    width: 400px;
    background-color: aliceblue;
}


/* ======================================= */
/* HEADER */
.box_list_user {
    z-index: 2;
    display: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    top: 37px;
    right: 0;
    position: absolute;
    width: 165px;
    background-color: white;
}

.header_user {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_user {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 35px;
}

.img_user_item {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.main_app {
    width: 100%;
    height: 100%;
}

.box_header {
    width: 100%;
    height: 130px;
    background-color: #1260d6;
}

.box_header_item {
    display: flex;
    justify-content: center;
    height: 90px;
    width: 100%;
}

.box_header_page {
    display: flex;
    justify-content: center;
    background-color: #13438b;
    width: 100%;
    height: 40px;
}

.list_item_page {
    align-items: center;
    display: flex;
    margin-right: 3px;
}

.list_link_page {
    font-size: 14.7px;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    padding: 0 0 0 20px;
}

.header_home {
    text-decoration: none;
    height: 100%;
    width: 100px;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: white;
    margin-left: 3px;
}

.header_logo {
    height: 100%;
    width: 160px;
    margin-left: 3px;
}

.box_header_page_item {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 100%;
}

.img_logo {
    width: 100%;
    height: 100%;
}

.box_header_item_item {
    display: flex;
    width: 1200px;
    height: 100%;
}

.box_search {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-left: 195px;
}

.header_search {
    text-indent: 10px;
    width: 360px;
    height: 100%;
}

.header_form_search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 30px 0;
}

.header_form_btn {
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    width: 90px;
    height: 100%;
}

.fa-phone-volume {
    font-size: 20px;
    color: white;
}

.box_header_contact_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border: 2px solid white;
    border-radius: 38px;
}

.box_header_contact {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.box_header_contact_text {
    width: 100px;
    height: 25px;
    color: white;
    font-size: 17px;
    line-height: 25px;
}

.box_header_contact_item {
    padding-left: 20px;
}

.fa-cart-shopping {
    font-size: 20px;
    color: white;
}

.box_header_cart {
    position:relative;
    height: 100%;
    margin-left: 50px;
    margin-right: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_header_cart_item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    border: 2px solid white;
    border-radius: 38px;
}

.list_user_item {
    padding: 7px 10px 7px 10px;
    border-bottom: 1px solid #ccc;
}

.list_user_item_link {
    white-space: nowrap;
    font-size: 16px;
    font-weight: 700;
}

/* ========================================= */
/* CONTENT HOME*/

.content{
    min-height: 610px;
    padding: 30px 0 50px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f7f7f7;
}

.box_content {
    display: flex;
    width: 1200px;
    height: 100%;
}

.category_product {
    background-color: white;
    margin: 0 25px 0 0;
}

.category_product_title {
    width: 100%;
    height: 55px;
    background-color: #969696;
    color: white;
    font-size: 20px;
    line-height: 55px;
    text-indent: 20px;
}

.category_product_item {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 45px;
    background-color: white;
    font-size: 18px;
    color: black;
    line-height: 45px;
    text-indent: 25px;
    border: 1px solid #f1f1f1;
}

.product_outstanding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 25px 25px 0 0;
}

.product_outstanding_item {
    border-bottom: 1px solid #ccc;
    padding: 5px 10px 5px 10px;
    width: 100%;
    display: flex;
}

.product_outstanding_image_item {
    width: 100%;
}

.product_outstanding_list {
    display: block;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.product_outstanding_text {

    padding-left: 13px;
}

.product_outstanding_text_name {
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
}

.product_outstanding_text_buy {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
}

.product_outstanding_text_rice {
    color: red;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
}

.section {
    margin-top: 25px;
    width: 100%;
    display: flex;
    background-color: white;
    padding: 17px 0 17px 0;
}

.section_item_image {
    display: flex;
    justify-content: center;
}

.section_item_title {
    margin: 5px 0 5px 0;
    line-height: normal;
    text-align: center;
    font-size: 18px;
}

.section_item_text {
    text-align: center;
    font-size: 15px;
    color: #8e8e8e;
}

.section_item {
    position: relative;
}

.list_product_box {
    background-color: white;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list_product_item {
    display: block;
    width: 100%;
}

.list_product_image_item {
    width: 100%;
}

.list_product_image {
    box-sizing: border-box;
    padding: 5px 10px 5px 10px;
    display: block;
    width: 100%;
    height: 198px;
}

.list_product_name {
    height: 36px;
    width: 100%;
    text-align: center;
}

.list_product_rice {
    width: 100%;
    text-align: center;
}


.list_product_btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list_product_btn_cart {
    padding: 8px 8px 8px 8px;
    border: 1px solid black;
    color: black;
    font-size: 14px;
}

.list_product_btn_buy {
    padding: 8px 8px 8px 8px;
    border: 1px solid red;
    color: red;
    font-size: 14px;
}

.list_product_name {
    margin: 10px 0 10px 0;
    font-size: 18px;
}

.list_product_rice {
    margin: 0 0 17px 0;
    font-size: 19px;
}


.list_product {
    margin-top: 30px;
    width: 100%;
}

.list_product_title {
    font-size: 25px;
}

.header_form_btn_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.box_detail_product {
    display: flex !important;
}

.product_detail_img {
    height: 300px;
    padding: 10px;
}

.product_detail_img_item {

    width: 100%;
    height: 100%;
}

.product_detail_content {
    padding: 10px;
}

.product_detail_name {
    font-size: 30px;
    font-weight: 500;
    padding: 10px;
}

.product_detail_num {
    font-size: 25px;
    padding: 10px;
}

.product_detail_price {
    font-size: 25px;
    padding: 10px;
}



.product_detail_des {
    overflow: hidden;
    /* Ẩn phần tràn ra ngoài */
    text-overflow: ellipsis;
    height: 76px;
    font-size: 19px;
    margin: 10px;
    margin-bottom: 20px;
    width: 450px;
}

.box_product_btn {
    display: flex;
    justify-content: space-between;
    width: 450px;
}

.cart_product_btn {
    display: flex;
    padding: 10px;
    background-color: red;
    color: white;
    font-size: 18px;
    border: unset;
}

.box_product_detail {
    background-color: white;
    border-radius: 5px;
    margin-top: 30px;
}

.detail_product_mt {
    font-size: 17px;
}

.box_detail_product_mt {
    padding: 20px;
}

.detail_product_mt_title {
    font-size: 25px;
    font-weight: 700;
}

.detail_product_mt {
    font-size: 20px;
    padding: 10px;
}

.content_1 {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f7f7f7;
}

.box_cart_product {
    max-height: 449px;
    overflow-x: auto;
    margin: 15px 0 15px 0;
    border-radius: 10px;
    
}

.box_cart_product_item {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #ccc;
}

.cart_product_name {

    width: 260px;
    font-size: 20px;

}

.cart_product_stt {
    text-align: center;

    width: 50px;
    font-size: 20px;
}

.cart_product_price {

    width: 150px;
    font-size: 20px;
}

.cart_product_img {

    width: 80px;
    height: 90px;
    font-size: 20px;
}

.cart_product_num {
    text-align: center;

    width: 100px;
    font-size: 20px;
}

.cart_product_tt-price {

    width: 150px;
    font-size: 20px;
}

.cart_product_num_item {
    width: 40px;
    border: 1px solid #ccc;
}

.cart_product_img_item {
    width: 100%;
}

.box_cart_product_item_1 {
    margin-top: 30px;
    padding: 15px 0 15px 0;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: blue;
}

.cart_product_img_color {
    color: white;
}

.cart_product_img_he {
    height: unset;
}

.total_all {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}

.width_cart_product_total {
    width: 160px;
}

.flex_cart_product_total {
    display: flex;
}

.buy_now {
    display: inline-block;
    background-color: blue;
    padding: 20px;
    color: white;
    margin-top: 20px;
    border-radius: 10px;
}

.box_buy_now {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#delete_cart_item {
    width: 100%;
    font-size: 25px;
}

.box_blog {
    margin-bottom: 30px;
    padding: 15px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
}

.box_image_blog {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.box_image_blog_item {
    width: 100%;
    height: 100%;
}

.title_blog_item {
    display: block;
    height: 45px;
    font-size: 20px;
    margin: 8px 15px 15px 15px;
    font-weight: 600;
    word-wrap: break-word;
    overflow: hidden;
}

.box_blog_item {
    height: 100%;
}

.date_blog_item {
    font-size: 18px;
    margin: 0 15px 15px 15px;
}

.content_blog_item {
    margin: 0 15px 15px 15px;
    font-size: 17px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100px;
}

.box_content_blog {
    margin-top: 30px;
    width: 100%;
    background-color: white;

}

.box_content_blog_item {
    padding: 40px 20px 40px 20px;
    width: 100%;
}

.box_content_blog_name {
    line-height: 30px;
    font-size: 27px;
    font-weight: 600;
    width: 100%;
    padding-bottom: 25px;
}

.box_content_blog_date {
    font-size: 18px;
    width: 100%;
    padding-bottom: 25px;
}

.box_content_blog_img {
    width: 100%;
    margin-bottom: 25px;
}

.box_content_blog_img_item {
    width: 100%;
}

.box_content_blog_detail {
    font-size: 17px !important;
    padding: 0 20px 0 20px;
}

span {
    font-size: 17px;
}

.box_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1260d6;
    width: 100%;
    height: 100px;
}

.title_footer {
    color: white;
    font-size: 25px;
}

.box_comment {
    width: 100%;
}

.form_comment {
    padding: 40px 300px 40px 40px;
}

.content_comment {
    width: 100%;
    margin-bottom: 20px;
    background-color: #f7f7f7;
}

.btn_comment {
    width: 80px;
    height: 35px;
}

.box_comment {
    background-color: white;
    margin-top: 40px;
}

.box_list_comment {
    padding: 0 200px 40px 40px;
}

.comment_item_name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.list_comment {
    margin-top: 20px;
}

.all_comment {
    font-size: 20px;
    font-weight: 600;
}

.comment_item {
    background-color: #f7f7f7;
    padding: 20px 20px 20px 20px;
    border-bottom: 1px solid black;
}

.comment_item_name_item {
    font-size: 19px;
}

.comment_item_date {
    font-size: 19px;
}

.comment_item_text {
    font-size: 18px;
}

.box_list_comment {
    padding: 0 200px 40px 40px;
}

.box_display_dh {
    display: flex;
    align-items: center;
}

.box_tt_dn {
    padding: 10px;
}

.title_bill_item {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
    border-bottom: 1px solid #111;
}

.box_content_item {
    padding: 10px;
    padding-top: 30px;
}

.title_mt_item {
    font-size: 20px;
    padding-bottom: 10px;
}

.content_item_item {
    padding-bottom: 20px;
}

.input_content_bill {
    width: 250px;
    height: 30px;
}

.box_dc_content {
    width: 100%;
}

.box_content_list_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box_content_list_item_btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sp_bill_content {
    font-size: 20px;
    font-weight: 600;
}

.box_content_list_item_bd {
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.product_bill_content {
    padding: 20px 0 20px 0;
    border-bottom: 1px solid black;
}

.bill_bill_content {
    padding: 20px 0 20px 0;
}

.bill_btn_item {
    width: 100px;
    height: 40px;
}

.bill_bill_content_ok {
    padding: 20px 0 20px 0;
}

.box_product_bill_content {
    width: 100%;
    max-height: 171px;
    overflow-y: auto !important;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 4px;
    background-color: #ccc;
    height: 10px;
}

.name_product_bill {
    font-size: 18px;
}

.error_bill {
    height: 20px;
    margin-right: 50px;
}

.radio_bill {
    display: flex;
    align-items: center;
}

.main_bill {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #ccc;
    height: 100%;
}

.content_bill {
    width: 500px;
    min-height: 600px;
    background-color: white;
}

.box_content_bill {
    padding: 20px;
}

.box_content_bill_item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
}

.logo_bill {
    font-size: 25px;
    font-weight: 600;
}

.date_bill {
    font-size: 18px;
}

.bill_title_detail {
    font-size: 20px;
    padding-bottom: 15px;
}

.user_bill_detail {
    font-size: 18px;
    padding: 5px 0 5px 0;
}

.product_bill_detail {
    font-size: 18px;
}

.box_content_bill_item_bd {
    border-bottom: 1px solid #111;
}

.status_bill {
    padding: 20px 0 15px 0;
    font-size: 18px;
}

.list_product_item_1 {
    white-space: nowrap;

}

.content_2 {
    display: flex;
    justify-content: center;
    height: 610px;
}

.title_add_product {
    font-size: 30px;
    font-weight: 600;
    padding: 30px 0 30px 0;
}

.main_bill {
    position: relative;
}

.btn_bill_back {
    width: 90px;
    height: 40px;
    background-color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content_bill_bt {
    position: absolute;
    top: 100px;
    left: 100px;
}
.status_text_1{
    width: 90px;
    height: 40px;
    font-size: 18px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.list_product_product_over{
    margin-top: 20px;
    display: flex;
    max-height: 1400px;
    overflow: hidden;
    overflow-y: auto;
}
.list_product_blog_item{
    margin-top: 30px;
    max-height: 1160px;
    overflow: hidden;
    overflow-y: auto;
}
.box_cart_hover{
    display: none;
    width: 300px;
    background-color: white;
    position: absolute;
    top:65px;
    right: 0px;
    border-radius: 5px;
    z-index: 2;
    border: 1px solid #ccc;
}
.cart_hover_item{
    display: block;
    max-height: 319px;
    width: 100%;
    padding: 0 10px 0 10px;
    overflow: hidden;
    overflow-y: auto;
}
.cart_hover_item_list{
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid black;
}
.cart_hover_item_url{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    background-color: #1260d6;
}
.cart_hover_item_link{
    color:white;
    width: 100%;
    text-align: center;
}
.cart_hover_item_img{
    margin-right: 10px;
    width: 40px;
    height:50px;
}
.cart_hover_item_img_item{
    width: 40px;
    height: 100%;
}
.hover_cart_header{
    padding-left: 30px;
}
.like_product{
    margin-left: 10px;
}
.display1 {
    padding-top:  20px;
}
.header_data_table{
    background-color: lightskyblue;
}
#myTable_wrapper{
    padding: 20px;
    border: 1px solid #ccc;
}
.cart_hover_item_list_no{
    padding: 15px;
    
}


